*{
  padding: 0;
  margin: 0;
}

.loadingContainer{
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

.NavBar {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  z-index: 3;
  background-color: #E64848;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99.3vw;
  height: 65px;
  margin: 0px auto;
}

.NavBar_items {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
}

.navActive{
  padding:10px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
  border-radius: 10px 10px 0 0;
  background-color: #c53030;
}

.navInactive{
  padding:10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
}

.logo {
  width:30px;
  height: 30px;
}

.header{
  z-index: 999;
  display:flex;
}

.header-logo > h1 {
  font-size: 32px ;
}

.header-logo {
  width:10vw;
  display:flex;
  justify-content: center;
}

.header-logo > img {
  /* margin: auto 0; */
  height: 40px;
  width: 40px;
}

.widgetWrapper{
  display:flex;
  font-weight: 500;
  font-size: 12px;
  color:white;
}

.logoWrapper{
  display:flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  color:white;
}

.pokemonContainer{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

.counterWrapper {
  display: flex;
  border: 2px solid;
}
.counterWrapper > p {
  margin-right: 5px;
  margin-top: 30px;
}

.counterButtons {
  display:flex;
  flex-direction: row;
}

.counterButtons > button{
  width: 20px;
}

.backgroundModal{
  transition: all .5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#itemContainer{

  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 150px;
  margin: 20px auto;
  font-size: 18px;
}

#itemContainerWrapper{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 98vw;
  min-height: 600px;
  margin: 20px auto;
  font-size: 18px;
}

#detailContainer{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 600px;
  margin: 20px auto;
  font-size: 18px;
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeout{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

#loginWrapper{
  border: 2px solid;
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

#itemDetail{
  position: fixed;
  animation: fadein 200ms ease-in-out;
  width: 79.5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 6px;
  z-index: 900;
}

#itemDetail > img {
  height: 250px;
}

#detail-counter{
  /* position: absolute; */
  border: 1px solid;
  border-radius: 6px;
  background-color: rgb(212, 255, 235);
  width: 200px;
  /* margin: 10px; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 18px;
  transition: all 0.2s ease-out;
  opacity:0;
}

#detail-counter:hover{
  opacity: 1;
}

.detail-title{
  font-size: 36px;
  text-align: center;
}

.detail-img-container{
  display: flex;
}

.detail-img{
  height: 250px;
  width: 250px;
}

.detail-evoChain-container{
  width:500px;
  display:flex;
  flex-direction: column;
}

.detail-evoChain-container > h3 {
  text-align: center;
  margin: 5px;
}

.detail-evoChain-img-container{
  display:flex;
  justify-content: space-between;
}

.detail-evoChain-img{
  height: 120px;
  width: 120px;
}

.detail-description{
  width: 250px;
}

#detail-pokeContainer{
  border-radius: 4px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  width: 95%;
}

#detail-counter > p {
  width: 50px;
  text-align: center;
}
#detail-closeModal-container{
  width:95%;
  margin-top: 10px;
  display: flex;
  justify-content:space-between
}

.detail-types{
  justify-self: flex-start;
  align-self: flex-start;
}

#detail-closeModal{
  text-align:center;
  border: 2px solid;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.card{
  margin: 0px;
  transition: 150ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.card-container{
  height: 190px;
  background-color: white;
  margin:5px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0 0 2px rgb(145, 144, 144);
  padding: 2px;
  transition: 200ms;
  display: flex;
  width: 13.5%;
  min-width: 230px;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 2px;
}

.widgetAmount{
  font-size: 18px;
  border: 2px solid;
  height: 25px;
  width: 25px;
  border-radius: 10px;
  background-color: #30d67b;
}

.card-typeImg{
  margin-top: 5px;
}

.card-container:hover{
  filter: saturate(150%);
  transform: scale(1.025);
  box-shadow: 0 0 8px rgb(145, 144, 144);
}

.no-scroll{
  overflow: hidden;
}

.cart{
  overflow-y:scroll;
  color: black;
  z-index: 998;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px 0 0 0 ;
  height: 94vh;
  width: 440px;
  position: fixed;
  top: 60px;
  right: 0;
  animation: slideIn 0.25s ease-in;
}

.cart-products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-products{
  display: flex;
  width: 280px;
  min-width: 187px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid grey;
}

@keyframes slideIn {
  0%{
    transform: translateX(300px);
  }
  100%{
    transform: translateX(0px);
  }
}

.categories {
  background-color: white;
  font-size: 16px;
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 0 0 2px rgb(145, 144, 144);
  border-radius: 4px;
  width: 8.5%;
  height: 598px;
  position: absolute;
  margin: 24px auto;
}

.categoryLink{
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}
