*{
  padding: 0;
  margin: 0;
}

.loadingContainer{
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

.NavBar {
  background-color: #E64848;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 58px;
  margin: 20px auto;
}

.NavBar_items {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
}

.navActive{
  padding:10px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
  border-radius: 10px 10px 0 0;
  background-color: #c53030;
}

.navInactive{
  padding:10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color:white;
}

.logo {
  width:30px;
  height: 30px;
}

.header{
  display:flex;
}

.header > h1 {
  font-size: 42px ;
}

.header > img {
  margin: auto 0;
  height: 50px;
  width: 50px;
}

.widgetWrapper{
  display:flex;
  font-weight: 500;
  font-size: 12px;
  color:white;
}

.logoWrapper{
  display:flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  color:white;
}

.pokemonContainer{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 50px;
  margin: 20px auto;
  font-size: 18px;
}

.counterWrapper {
  margin-left: 10px;
  display:flex;
  border: 2px soid;
}
.counterWrapper > p {
  margin-right: 5px;
  margin-top: 30px;
}

.counterButtons {
  display:flex;
  flex-direction: column;
}

.backgroundModal{
  transition: all .5s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#itemContainer{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 150px;
  margin: 20px auto;
  font-size: 18px;
  padding: 5px;
  
}

#itemContainerWrapper{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 600px;
  margin: 20px auto;
  font-size: 18px;
}

#detailContainer{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 600px;
  margin: 20px auto;
  font-size: 18px;
}

#itemDetail{
  transition: 2000ms;
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 30px;
}

#itemDetail > img {
  height: 400px;
}

.card{
  display: flex;
  width: 13.5%;
  min-width: 187px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  max-height: 140px;
  /* background-color: #E64848; */
  font-size: 14px;
  font-weight: 500;
  /* color:antiquewhite; */
  border: 1px solid black;
  border-radius: 4px;
}

.no-scroll{
  overflow: hidden;
}